.soundAllower {
    font-family: Cooper, sans-serif;
    color: var(--color-accent);
    font-size: 2rem;
    bottom: 1em;
    padding: 1rem 0.5em;
    border-radius: 50px;
    border: 10px solid var(--color-accent);
    background-color: var(--color-soft);
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 150%,0);
    transition: transform 1s cubic-bezier(.68,-0.55,.27,1.55);
}

/*@keyframes jump-in {*/
/*    0%{*/
/*        transform: translate3d(-50%,150%,0);*/
/*    }*/
/*    100%{*/
/*        transform: translate3d(-50%,0,0);*/
/*    }*/
/*}*/