.piano-notes {
    position: relative;
    gap: 3px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano-base {
    background-color: #77613e;
    transform: translateY(20px);
}

.piano-notes .wrapper {
    transform-style: preserve-3d;
    position: relative;
    height: 0;
}

.key.white {
    background: #f9f9f9;
}

.black-wrapper {
    transform-style: preserve-3d;
    position: absolute;
    transform: translateZ(-50px);

    top: -12px;
    right: -9px;
}

.key.black {
    background-color: #242424;
}

.key:hover {
    transform: rotateX(-5deg); /* Simulate pressing down */
}

.bg-wood {
    background: peru;
}