:root {
    --width: 100px;
    --height: 50px;
    --depth: 200px;
}

.solid {
    position: relative;
    width: var(--width); /* Width of the piano key */
    height: var(--height); /* Height of the piano key */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 100% calc(var(--depth) / -2);
}

.face {
    position: absolute;
    border: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: inherit;
    transform-origin: top left;
}

.face.front {
    width: var(--width);
    height: var(--height);
    transform: translateZ(calc(var(--depth)/2)); /* Front face */
}

.face.back {
    width: var(--width);
    height: var(--height);
    transform: translateZ(calc(var(--depth)/-2)); /* Front face */
}

.face.left {
    width: var(--height);
    height: var(--depth);
    transform: translateZ(calc(var(--depth)/-2)) rotateX(90deg) rotateY(90deg) translateZ(var(--width));
}

.face.right {
    width: var(--height);
    height: var(--depth);
    transform: translateZ(calc(var(--depth)/-2)) rotateX(90deg) rotateY(-90deg) translateX(calc(var(--height)*-1));
}

.face.top {
    width: var(--width);
    height: var(--depth);
    transform: rotateX(90deg) translateY(calc(var(--depth)/-2)); /* Top face */
}

.face.bottom {
    width: var(--width);
    height: var(--depth);
    transform: rotateX(90deg) rotateY(180deg)  translateY(calc(var(--depth)/-2)) translateZ(calc(var(--height)))  translateX(calc(var(--width)*-1)); /* Top face */
}
