.perspective-context {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
    overflow: hidden;
}

.perspective-camera {
    transform-style: preserve-3d;
    animation: camera-in 1.5s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes camera-in {
    0% {
        transform: translate3d(0, 0, 0) rotateX(100deg);
    }
    100% {
        transform: translate3d(0, 0, 200px) rotateX(-60deg);
    }
}

